In [1]:
from __future__ import print_function, division

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from IPython.display import display

import thinkstats2_mod
import thinkplot

In [2]:
dct = thinkstats2_mod.ReadStataDct('Data_Cleaning_Test/GSS.dct')
df = dct.ReadFixedWidth('Data_Cleaning_Test/GSS.dat')
display(df)

       year   id_  partyid
0      1972     1        2
1      1972     2        1
2      1972     3        3
3      1972     4        1
4      1972     5        0
5      1972     6        2
6      1972     7        2
7      1972     8        2
8      1972     9        0
9      1972    10        0
10     1972    11        0
11     1972    12        5
12     1972    13        0
13     1972    14        1
14     1972    15        0
15     1972    16        0
16     1972    17        4
17     1972    18        4
18     1972    19        2
19     1972    20        4
20     1972    21        2
21     1972    22        1
22     1972    23        2
23     1972    24        4
24     1972    25        6
25     1972    26        4
26     1972    27        3
27     1972    28        2
28     1972    29        3
29     1972    30        5
...     ...   ...      ...
62436  2016  2838        1
62437  2016  2839        2
62438  2016  2840        1
62439  2016  2841        0
62440  2016  2842        3
62441  2016  2843        3
62442  2016  2844        3
62443  2016  2845        2
62444  2016  2846        5
62445  2016  2847        4
62446  2016  2848        5
62447  2016  2849        0
62448  2016  2850        3
62449  2016  2851        4
62450  2016  2852        2
62451  2016  2853        6
62452  2016  2854        4
62453  2016  2855        1
62454  2016  2856        2
62455  2016  2857        1
62456  2016  2858        3
62457  2016  2859        2
62458  2016  2860        3
62459  2016  2861        2
62460  2016  2862        3
62461  2016  2863        0
62462  2016  2864        7
62463  2016  2865        5
62464  2016  2866        5
62465  2016  2867        3

[62466 rows x 3 columns]